
  /* Style buttons with a hint of red for important actions */

  /* Detail card styling adjusted for a cleaner look */
  .billDetailsCard {
    border-radius: 8px; /* More rounded corners for modern styling */
    text-align:center;
  }
  
  .billDetailsCard h3 {
    font-size: 1.5em; /* Increase size for heading prominence */
    margin-bottom: 15px; /* Larger margin for clear separation */
  }
  
  .billDetailsCard p,
  .billDetailsCard ul {
    color: #555; /* Slightly darker font for better readability */
  }
  .detailItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .detailValue {
    margin-top: 0.5rem;
  }
  