/*Homepage card styling*/
.cardContainer {
  font-family: 'Julius Sans One';
  font-size: 1.5rem;
  background-color: #e9e5dc;
  overflow-y: auto; /* change from scroll to auto so the scrollbar only appears when necessary */
  height: 100vh;
  }
  .homepage{
    background-color: #e9e5dc;

  }
  .tabs{  
    background-color: #e9e5dc;    
    display: flex;
    justify-content: center;
  }
  .homepageHeading{
      text-align: center;
      font-weight: bold;
      margin-top: 2rem;
      font-size: 2rem;
      
  }
  .card {
      width: 50rem;
      height: 6rem;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      padding: 2rem;
      margin: 2rem;
      text-align: center;
    }
    
    .card-title {
      font-size: 1.5rem;
    }
    
    .card-icons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    
    .icon-vote {
      color: #333;
    }