
.logo {
  /* Adjust your logo size as needed, ensuring it's not too large */
  width: 6rem; /* or your specific size */
  height: 6rem;
  margin-left: 2rem;

}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:5;
  margin: 1rem;
  padding: 0;
}

.nav-link {
  margin: 6rem;
  padding: 0.5rem 0; /* Add padding for clickable area */
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-right: 1px solid #ccc; /* Vertical separator */
}

.nav-link:last-child {
  border-right: none; /* No border for the last item */
}

.auth-section {
  display: flex;
  align-items: center;
  flex-direction: row; /* Ensures items are in a row */
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes it round */
  object-fit: cover;
}

.sign-in {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  border: 2px solid #ccc;
  background-color: #180254;
  border-radius: 20px;
  cursor: pointer;
  color:#fff;
}

/* Ensure nav is flex-direction: row */
nav {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  font-family: 'Julius Sans One';
  font-size: 1.5rem;
  position:absolute;
  background-color: #e9e5dc;
  margin-bottom: 2rem;
  z-index: 1;
}
.nav-links li:not(:last-child) {
  border-right: 2px solid #000; /* Adjust color and width as needed */
}

/* Add media query for responsive behavior */
@media (max-width: 768px) {
  .nav-links, .auth-section {
    display: none; /* Hide on small screens */
  }
  /* Add styles for the hamburger menu if needed */
}
