.uniqueBillContainer {
    background: #e9e5dc; /* Light grey background for the entire container */
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Julius Sans One';
 
  }
  
  .uniqueBillHeader {
    border-bottom: 1px solid #eaeaea; /* Light border for separation from the content */
    padding: 1rem; /* Padding inside the header */
    border-radius: 5px; /* Rounded corners for the header */
    margin-bottom: 1rem; /* Space after the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .bottomHalf {
    flex-grow: 1;
    display: flex;
  }
  
  .section1, .billDetailsDropdown {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    /* Add additional styling here */
  }
  
  .commentSection {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    /* Add additional styling here */
  }
  .uniqueBillHeader .button {
    background: none; /* No background for the button to keep it clean */
    border: none; /* No border for a flat design */
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
    margin-right: 1rem; /* Margin to the right of the button */
    color: #555; /* Color for the button */
  }
  
  .uniqueBillHeader h2 {
    color: #333; /* Dark grey for title for better readability */
    font-size: 1.8rem; /* Larger font size for the title */
    margin-bottom: .5rem; /* Small margin bottom for spacing */
    text-align: center;
  }
  
  