.uniqueBillContainer {
    background: #f0f2f5; /* Light grey background for the entire container */
    padding: 1rem; /* Padding around the container */
    margin-top: 60px; /* Adjust based on the height of your navbar */
  }
  
  .uniqueBillHeader {
    background: #ffffff; /* White background for the header */
    border-bottom: 1px solid #eaeaea; /* Light border for separation from the content */
    padding: 1rem; /* Padding inside the header */
    border-radius: 5px; /* Rounded corners for the header */
    margin-bottom: 1rem; /* Space after the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .uniqueBillHeader .button {
    background: none; /* No background for the button to keep it clean */
    border: none; /* No border for a flat design */
    cursor: pointer; /* Cursor pointer to indicate it's clickable */
    margin-right: 1rem; /* Margin to the right of the button */
    color: #555; /* Color for the button */
  }
  
  .uniqueBillHeader h2 {
    color: #333; /* Dark grey for title for better readability */
    font-size: 1.8rem; /* Larger font size for the title */
    margin-bottom: .5rem; /* Small margin bottom for spacing */
  }
  
  .uniqueBillHeader p {
    color: #666; /* Medium grey for the paragraph text */
    font-size: 1rem; /* Standard font size for the paragraph */
    line-height: 1.6; /* Line height for better readability */
  }